*   {
    font-family: 'Syne', sans-serif;  
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

header  {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px; 
    background-color: #FFF;
    box-sizing: border-box;
}

header img {
    width: 201px;
    height: 19px;
    margin-top: 31px;
    margin-left: 37px;
}

.menu {
    display: flex;
    gap: 60px;
    list-style-type: none;
    align-items: center;
    box-sizing: border-box;
}

.menu-item-33 a  {
    color: black;
    font-weight: 400;
    font-size: 16px; 
}

.menu-item-33 a:hover   {
    font-weight: 700;
    font-size: 13px;
}

.menu-item-40 a  {
    color: black;
    font-weight: 400;
    font-size: 16px;
}

.menu-item-32  {
    width: 236px;
    height: 80px;
    background-color: #DC9F96;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item-32 a  {
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.menu-item-32:hover   {
    background-color: #C02E44;
}

footer  {
    height: 60px;
    width: 100%; 
}

a.mentions    {
    color: #000;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 20px;
}

/* Media Queries */
@media screen and (max-width: 400px) {
    header {
        flex-direction: column;
        height: auto;
    }

    header img {
        margin: 20px auto;
    }

    .menu {
        flex-direction: column;
        gap: 20px;
        padding: 5%;
        margin-right: 60px;
    }
    
    .menu-item-32 {
        width: 100%;
    }
}